# === Global ignores ===
.DS_Store
.env
*.log
*.tmp
*.swp
*.iml
.idea/
.vscode/
node_modules/
dist/
build/
coverage/
logs/

assignment-backend/target/
assignment-backend/.env
assignment-backend/.mvn/
assignment-backend/mvnw*
assignment-backend/HELP.md
assignment-backend/*.log
assignment-backend/*.jar
assignment-backend/*.war

assignment-frontend/node_modules/
assignment-frontend/build/
assignment-frontend/.env
assignment-frontend/.eslintcache
assignment-frontend/npm-debug.log*
assignment-frontend/yarn-debug.log*
assignment-frontend/yarn-error.log*
assignment-frontend/.parcel-cache/
assignment-frontend/.next/
assignment-frontend/out/
assignment-frontend/.turbo/

Thumbs.db
ehthumbs.db
*.bak
*.orig
